.wrap {
  width: 60%;
  height: rem(100px);
  border: rem(1px) solid #ccc;
  text-align: center;
  margin: 0 auto;
  margin-bottom: rem(5px); }
  .wrap:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: cadetblue; }
