.best__icon-pic {
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(10px);
  fill: #00bfa5;
  width: rem(25px);
  height: rem(25px); }
  .best__icon-pic:hover {
    fill: crimson; }
  .best__icon-pic:first-child {
    margin-left: 0; }
