.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 0; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

.hero {
  background-image: url("../img/bg/hero-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.hero__img, .hero__description {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.arrow-down {
  padding-bottom: 40px; }

.best {
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem;
  font-family: 'Gagalin';
  padding-top: 49px; }

.best__pictures_title {
  font-family: 'Lifehack';
  font-size: 24px;
  color: #2f3234; }

.best__pictures_text {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: #2f3234;
  line-height: 1.5; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 20px; }

.best__icon-pic_natural {
  fill: #8ac03e;
  width: 97px; }

.best__icon-pic_hand {
  fill: #f8b43a;
  width: 80px; }

.best__icon-pic_meat {
  fill: #e25028;
  width: 97px; }

.best__item {
  margin-right: 20px;
  padding-bottom: 100px; }
  .best__item:last-child {
    margin-right: 0; }

.persons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.person-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.person_title {
  font-family: 'Gagalin';
  text-transform: uppercase;
  color: white; }

.person_text {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: white; }

.person__description {
  position: absolute;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

.person_1, person_2, person_3, person_4, person_5, person_6, person_7, person_8 {
  position: relative; }

.darkburger {
  background-image: url("../img/bg/darkburger-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.darkburger__price {
  font-family: 'Gagalin';
  font-size: 30px;
  color: #e35028; }

.darkburger__description {
  color: #ffffff; }

.section__title--darkburger {
  color: #ffffff;
  padding: 0;
  margin-bottom: 3.75rem;
  font-family: 'Gagalin'; }

.darkburger__description {
  font-family: 'Ubuntu';
  font-size: 14px; }

.darkburger__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.order {
  background-image: url("../img/bg/order-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.section__title--order {
  color: #f9b43b;
  padding: 0;
  margin-bottom: 3.75rem;
  font-family: 'Gagalin';
  padding-top: 91px; }

.form__input-title {
  color: white;
  font-size: 14px; }

.form__controls-radio-elem {
  color: white;
  font-size: 14px; }

.form__elem {
  padding-left: 77px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team {
  background: url("../img/bg/team-bg.png") no-repeat;
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(52, 54, 56, 0.93);
  padding-left: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 50px; }

.section__title--team {
  color: #f9b43b;
  padding: 0;
  margin-bottom: 3.75rem;
  font-family: 'Gagalin'; }

.team-acco__triger {
  color: white;
  font-family: 'Gagalin';
  padding-top: 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-acco__triger:before {
    content: "";
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0px; }

.team-acco__content {
  display: none; }

.team-acco__item_active .team-acco__triger {
  color: #e25028; }
  .team-acco__item_active .team-acco__triger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-acco__item_active .team-acco__content {
  display: block; }

.team-acco__text-content {
  color: white; }

.team-acco__text-title {
  color: white; }

.menu {
  background-image: url("../img/bg/menu-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.menu__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 21.7%;
  background: rgba(52, 54, 56, 0.75);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title--menu {
  color: white;
  padding: 0;
  margin-bottom: 3.75rem;
  font-family: 'Gagalin';
  padding-top: 91px;
  padding-left: 120px; }

.types_menu {
  color: white;
  padding: 0;
  margin-bottom: 3.75rem;
  font-family: 'Gagalin';
  padding-top: 91px;
  font-size: 40px; }

.types_menu {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.contacts__phone {
  color: #e35028;
  font-style: bold;
  text-decoration: none; }

.container__footer {
  width: 100%;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.footer_wrapper {
  padding-right: 1100px; }

.footer__text {
  color: white; }

/*# sourceMappingURL=main.css.map */