.best__icon-pic {
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(10px);
  fill: #00bfa5;
  width: rem(25px);
  height: rem(25px);
  &:hover {
    fill: crimson;
  }
  &:first-child {
    margin-left: 0;
  }
}

