
//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
 

// resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phonesmall: 320px;


 @function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin desktop {
	@media screen and (max-width: $desktop) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: $laptop) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: $phones) {
		@content;
	}
}


@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin vertical-gradient($top-color: #ffffff, $bottom-color: #000000) {
	background-color: $top-color;
	background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, $top-color, $bottom-color); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, $top-color, $bottom-color); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, $top-color, $bottom-color); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, $top-color, $bottom-color); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$top-color, EndColorStr=$bottom-color);
}

@mixin cover(){
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}



@import "layout/_adjustment";
@import "layout/_base";
@import "layout/_fonts";
@import "layout/_media";
@import "layout/_mixins";
@import "layout/_layout";

@import "section/_logo";
@import "section/_hero";
@import "section/_best";
@import "section/_reviews";
@import "section/_darkburger";
@import "section/_order";
@import "section/_team";
@import "section/_menu";
@import "section/_footer";
@import "section/_map";
@import "section/_socials";
@import "section/_fixed-menu";
@import "section/_burger-slider-wrap";
@import "section/_hamburger-menu-link";
@import "section/_hamburger-menu";
@import "section/_nav";
@import "section/_header";
@import "section/_popups";
@import "section/_burgers";
@import "section/_btn";
@import "section/_composition";
@import "section/_burger-weight";




