$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;


@import "config/_variables";
@import "config/_mixins";

@import "layout/_adjustment";
@import "layout/_base";
@import "layout/_fonts";


@import "section/_hero";
@import "section/_best";
@import "section/_reviews";
@import "section/_darkburger";
@import "section/_order";
@import "section/_team";
@import "section/_menu";
@import "section/_footer";
@import "section/_map";
@import "section/_socials";


