.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.section__title--best {
  color: $black;
  padding: 0;
  font-family: 'Gagalin';
  text-align: center;
  padding-top: rem(60px);
  margin-bottom: rem(9px);
}


.best__pictures_title {
  font-family: 'Lifehack';
  font-size: rem(24px);
  color: #2f3234;
}

.best__pictures_text {
 font-family: 'Ubuntu';
 font-size: rem(14px);
 color: #2f3234;
 line-height: 1.5;
}

.best__list {    
display: flex;
text-align: center;
margin: rem(20px);
 @include phones {
  flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
     }
}


     
.best__icon-pic_natural {
  fill:#8ac03e;
  width: rem(97px);
  @include tablets {
  flex:1;
  width: 10.063rem;
  height: 5.063rem;
  float:left;

  }
}

.best__icon-pic_hand {
 fill:#f8b43a;
 width: rem(80px);
 @include tablets {
       flex:1;
    width: 10.063rem;
  height: 5.063rem;
   float:left;

  }
}

.best__icon-pic_meat {
  fill:#e25028;
  
    width: rem(97px);
   @include tablets {

    flex:1;
width: 10.063rem;
  height: 5.063rem;
   float:left;

  }
}

.best_block {
  @include tablets {
    flex:2;
    width:100%;
    float:left;
    text-align:left;
  }
}

.best__item {
  width: 45%;
  margin-right: rem(20px);
  

   @include phones {
    flex-direction: row;
  }

  @include tablets {
    display:flex;
    flex-direction: row;
    width:100%;
  }
  

  
}

