.btn {
	background: $orange;
	font-size: rem(13px);
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: rem(5px);
	 
	font-family: 'Ubuntu-Medium';

    @include phones {
    	 margin-right: rem(18px);

    }

      @include phonesmall {
    	 margin-right: rem(18px);

    }

	       @include tablets {
    	 margin-right: rem(18px);

    }

}