 .composition {
    position: absolute;
    text-align: left; 

    &--visible {
        display:none;
    }
}

.burger__composition {
    position: absolute;
    left: rem(6px);
    top: rem(20px);
    display:flex;
    z-index: 1;
    
    @include phonesmall() {
    top: 3rem;}
}

.composition__button {
    vertical-align: top;
    padding-top: rem(60px);
    padding-left: rem(20px);
    padding-right: rem(20px);
    font-family: "Gagalin";
    font-size: 0.875rem;
    font-weight: 500;
    background-image: url('../img/sprite/burger.svg');
    background-repeat: no-repeat;
    background-position: center rem(13px); 
    cursor:pointer;

    &:hover {
        opacity:0.5;
    }
}
 

 .button {
    right: 50%;
    flex:1;
 	border: 0;
    display: inline-block;
    padding: 4rem 1.3rem;
    padding-bottom: rem(11px);
    border-radius: rem(5px);
    background-color: #e45028;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.42;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
} 


.composition__table {
    flex: 1;
    left: 50%;
    margin-top: 0px;
    display:none;
    left: rem(-9999px);
    padding: rem(15px) rem(20px);
    vertical-align: top;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: rem(5px);

    &--visible {
        display:block;
    }

    }



    .composition__table-data--ingredient {
    width: rem(130px);
    text-align: left;
    font-weight: 700;

}


.composition__table-data {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
}

.composition__table-data--weight {
    text-align: right;
    font-weight: 300;
}


.composition__table-row--type_beef:before{
    background-image: url('../img/sprite/beef.svg');
}


.composition__table-row--type_buns:before {
    background-image: url('../img/sprite/buns.svg'); 
}


.composition__table-row--type_salad:before {
    background-image: url('../img/sprite/salad.svg'); 
}


.composition__table-row--type_sauce:before {
    background-image: url('../img/sprite/sauce.svg'); 
}

.composition__table-row--type_cucumber:before {
    background-image: url('../img/sprite/cucumber.svg'); 
}

.composition__table-row--type_cheese:before {
    background-image: url('../img/sprite/cheese.svg'); 
}


.composition__table-row:before {
    content: "";
    display: inline-block;
    margin-right: rem(17px);
    height: rem(50px);
    width: rem(50px);
    background-repeat: no-repeat;
    background-position: center;
}




.caloricity { 
    width: rem(60px);
    padding-top: rem(25px);
    background-image: url('../img/sprite/kkal.svg');
    background-repeat: no-repeat;
    background-position: top right;
    text-align: center;
    font-family: "Gagalin";
    font-size: 1.25rem;
    color: white;
    opacity: 0.5;
    width: rem(60px);
    height: rem(60px);
    position:absolute;
    opacity:1;

    &:hover {
      opacity:0.8;  
    }

    @include phonesmall {
    width: 4.75rem;
    height: 5.75rem;
    position:absolute;
    }

    @include phones {
     width: 4.75rem;
    height: 5.75rem;
    position:absolute;
    }
}


.burger__caloricity {
    position: absolute;
    left: 0;
    font-family: "Gagalin";
    color:white;
    opacity: 1;
    top: 97%;

    &:hover {
      opacity:0.5;  
    }


@include phonesmall {
    // left: 76%;
    top: rem(0px);
    height: rem(80.3125px);
    width: rem(60px);
        top: 7%;
     
}


@include phones {
   
    // left: 23.0625rem;
    top: 0rem;
    height: 18.01953rem;
    width: 4.75rem;
    font-family: "Gagalin";
    position: absolute;
    left: 82%;
 top: 7%;
    color:white;

}
    
}

.caloricity-kkal {
    display: inline-block;
    font-size: 0.875rem;
    margin-top: rem(10px);

@include phonesmall {
        margin-top: 1.625rem; }


@include phones  {
        margin-top: 1.625rem; }
}


// tbody {
//     display: table-row-group;
//     vertical-align: middle;
//     border-color: inherit;
// }


.burger__caloricity_text {
    padding-left: rem(18px);
    padding-top: rem(31px); 

    @include phonesmall { 
    padding-left: rem(5px);
    padding-top: rem(27px);
    }

    @include phones { 
   padding-left: rem(5px);
   padding-top: rem(27px);
    }
}

.caloricity-kkal {
padding-left: rem(16px);

 @include phones { 
      padding-left: rem(4px);
    }

     @include phonesmall { 
       padding-left: rem(4px);
    }


}

 