.persons {
display: flex;
flex-wrap: wrap;
}

.comments__container {
width: 1100px;
}

.person-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; 
}

.person_title {
font-family: 'Gagalin';
text-transform: uppercase;
color: white;
}

.person_text {
font-family: 'Ubuntu';
font-size: 14px;
color: white;
}




.person__description {
position: absolute;
 flex-basis: 25%;

}

.person_2 {
 position: relative;
}
