.darkburger  {
  background-image: url('../img/bg/darkburger-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rem(90px);
}

.darkburger__price {
	font-family: 'Gagalin';
	font-size: rem(30px);
	color: #e35028;
  display:block;
}

.darkburger__description {
  color: #ffffff;
  display:block;
}

.section__title--darkburger {
  color: #ffffff;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  display:block;
  line-height: rem(80px);
}

.darkburger__description {
 font-family: 'Ubuntu';
 font-size: rem(14px);
 display:block;
}


.darkburger__content {
 display:flex;
}

.block_darkburger {
flex:1;
width:50%;
}

