.darkburger  {
  background-image: url('../img/bg/darkburger-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.darkburger__price {
	font-family: 'Gagalin';
	font-size: rem(30px);
	color: #e35028;
  display:inline-block;
  margin: rem(6px);
}



.darkburger__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15%;
}



.darkburger__content{
 display: flex;

  
  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
}



 .block_darkburger_left, 
 .block_darkburger_right {
 float: left;
  width: 50%;
  @include tablets() {
    float: none;
    width: auto;
  }

  @include phones {
    flex-direction: column; 
 }
}


.block_darkburger_left {}

.block_darkburger_right{
   
  @include tablets {
    flex-direction: column; 
    text-align: center;
  }

  @include phones {
    flex-direction: column; 
}

}


.section__title--darkburger {
  color: #ffffff;
  padding: 0;
  font-family: 'Gagalin';
  display:block;
   
  max-width:75%;
  padding-top: 4.8rem;
  margin-bottom: rem(24px);
  padding-left: rem(8px);
  line-height: 4.3rem;
}

span {
  font-size: rem(72px);
}

.img_darkburger {
   padding-top: rem(160px);
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
   
    @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: rem(120px);
   }
}





.darkburger__description {
 font-family: 'Ubuntu';
 font-size: rem(14px);
 display:block;
 line-height: 1.7rem;
 width: 75%;
  color: #ffffff;
  display:block;

 @include tablets {
  width: 90%; }
}


 


.darkburger_button {
  display:inline-block;
}

 

.block_darkburger {
flex:1;
width:50%;
 
box-sizing: border-box;
}

.order-link_darkburger {
  width: 15%;
      margin: rem(18px);
  margin-left: 2%;
   
  font-family: 'Ubuntu-Medium';
}




