.header {
	padding-top: rem(12px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__logo {
  &--visible {
    display:block;
    z-index:2;
  }
}

.header__links {
  display: flex;
  align-items: center;
  margin-top: rem(15px);
}

.header__menu {
	flex: 1;
	text-align: right;
	margin-right: rem(20px);
  margin-top: rem(18px); 
  

  &--visible {
background:#2e3133;
opacity: 0.95;
width: 100%;
max-height: 100%;
text-align: center;
margin-right: 0;
margin-top: 0;
position: absolute;
right: 0;
top: 0;
bottom: 0;
left: 0;


z-index:1;



}

}




 