.yandex-map {
	  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.map {
	position:relative;
}
 
.map__hint {
    padding: rem(20px);
    min-height: rem(55px);
    min-width: rem(195px);
    font-size: rem(20px);
	line-height: 1;
	color: #ffffff;
    background-color: #f9b43b;
	background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
	border-radius: rem(20px);
}

.map__balloon {
	padding: rem(20px);
	font-size: rem(30px);
	line-height: 1;
	color: #ffffff;
	background-color: #f9b43b;
	background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
	border-radius: rem(20px);
}

.map__burger-img {
	float: right;
	height: rem(100px);
	width: rem(100px);
}