.contacts__phone {
color:#e35028;
font-style: bold;
text-decoration:none;
}


.container__footer {
  width:100%;
  background-image: url('../img/footer.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.footer_wrapper {
 padding-right: 1100px; 
}

.footer__text {
	color:white;
}

