.menu {
  background-image: url('../img/bg/menu-bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}


.menu__container{
position:absolute;
top:0;
bottom:0;
right:0;
width:21.7%;
background: rgba(#343638, .75);
display: flex;
flex-direction: column;
}


.section__title--menu {
  color: white;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  padding-top: 91px;
  padding-left: 120px; 
}


.types_menu {
  color: white;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  padding-top: 91px;
  font-size: 40px;
}

.types_menu {
  transform: rotate(-90deg);
  
}