.menu {
  background: url('../img/bg/menu/menu-bg.png') 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  
}

.menu__container {
  min-height: rem(650px);
   margin: 0 auto;
  position: relative;

  max-width: rem(940px);
  display: flex;
  flex-direction: column;
}


.container {
  margin: 0 auto;
  position: relative;

  max-width: rem(940px);
  display: flex;
  flex-direction: column;
}



.menu__content {
  display:flex;
  justify-content: end; 
  height: 100%;
  min-height: rem(650px);
  position: absolute;
    
}

.menu__title {
  position: relative;
  padding-bottom: rem(280px);
  left: 10%;
  color:white;
   
}

 

.menu-acco {
  display:flex;
  justify-content: end; 
  right: 0;
  top: 0;
  bottom: 0;
 
  height: 100%;
  min-height: rem(650px);
}

.menu-acco__item  {
  height: 100%;
  min-height: rem(650px);
   display:flex;
  justify-content: end; 
  right: 0;
  top: 0;
  bottom: 0;

  &.active {
    .menu-acco__trigger-text {
      color: $yellow;
       height: 100%;
  min-height: rem(650px);
   display:flex;
  justify-content: end; 
  right: 0;
  top: 0;
  bottom: 0;
    }
  }
}






.menu-acco__item_active {
   height: 100%;
  min-height: rem(650px);
   display:flex;
  justify-content: end; 
  right: 0;
  top: 0;
  bottom: 0;

  .menu-acco__trigger {
    color:#e25028;
     height: 100%;
  min-height: rem(650px);
   display:flex;
  justify-content: end; 
  right: 0;
  top: 0;
  bottom: 0;
  
    &:before {
      transform: rotate(-180deg);
    }
  }

  .menu-acco__content {
    display:block;
  }
}


.menu-acco__trigger {
  width: rem(80px);
  display:flex;
  height: 100%;
  float: left;    
  position: relative;


 height: 100%;
  min-height: rem(650px);
   display:flex;
  justify-content: end; 
  right: 0;
  top: 0;
  bottom: 0;

  @include cover;
  text-decoration: none;
  position: relative;


}

.menu-acco__trigger-text {

position: absolute;

  display:flex;
  justify-content: end; 
  
  top:0;
  bottom: 0;

  font-size: rem(40px);
  color: #fff;
  font-family: 'gagalin';
  text-align: center;
  white-space: nowrap;
   
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
 
   
  top: 100%;
 
}

.menu-acco__content{
  height: 100%;
  float: left;
  background: rgba(#2f3234, .93);
  width: 0;
  overflow: hidden;
  
 height: 100%;
  min-height: rem(650px);
   display:flex;
  justify-content: end; 
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
}

.menu-acco__text  {
  
  font-family: 'ubuntu';
  font-size: rem(14px);
  color: #fff;
  padding: rem(60px) rem(30px);
  width: 100%;
  line-height: 1.8;
  display: none;
}


