.nav {
	 
	 @include tablets() {
    display: none;
  }

  &--visible {
    display:block;
    padding-top: rem(53px);
     
   .nav__list {
   	display:block;
   	width:100%; 
   	 
   }
   .nav__link{
   	 font-size:24px;
   	 font-family: 'ubuntu';
   }
   .nav__item {
   	text-align:center;                
  	margin-top: rem(50px);
  	  
  	&:after {
		content: "";
		margin: 0px; 

	}

	&--close {
	display:none;
	}

   }
  }
}

.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
   
}



.nav__item {
	white-space: nowrap;
	list-style-type: disc;
	color: white;

	&:first-child {
	list-style-type:none;
	}

	&:last-child {
		margin-right: 0;
		&:after {

			 
			  
		}
	}

	&:after {
		content: "";
		width: rem(4px);
		height: rem(4px);
		border-radius: 100%;
		background: white;
		margin: 0 12px;
	}

}


 

.nav__link {
	list-style-type: disc;
	font-size: rem(13px);
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-family: 'Ubuntu-Medium';
	margin: rem(5px);

	&:hover {
		text-decoration: underline;
	}
}