.nav {
	 @include tablets() {
    display: none;
  }

  &--visible {
    display:block;
   .nav__list {
   	display:block;
   	width:100%;
   	 list-style-type: circle;
   }
   .nav__item {
   	text-align:center;
  	margin-bottom: -1.687rem;
  	margin-top: rem(50px);
  	 list-style-type: circle;
  	&:after {
		content: "";
		margin: 0px; 

	}

   }
  }
}

.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
list-style-type: circle;
}



.nav__item {
	 list-style-type: circle;
	white-space: nowrap;

	&:last-child {
		margin-right: 0;
		  
		&:after {
			display: none;
			  
		}
	}

	&:after {
		content: "";
		width: rem(4px);
		height: rem(4px);
		border-radius: 50%;
		background: white;
		margin: 0 12px;
	}



}

.nav__link {
	font-size: rem(13px);
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-family: 'Ubuntu-Medium';
	margin: rem(5px);

	&:hover {
		text-decoration: underline;
	}
}