.order {
  background-image: url('../img/bg/order-bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.form__block-title {
  color:white;
}

.form__input {
  border: none;
  border-radius:5px;
  padding:5px;
  width: 100%;
}

.form__row {
display: flex;
margin-bottom: 20px;
}

.form__block {
flex:1;
margin-right: 20px;

&:last-child {
  margin-right: 0;
}
}

.form__content {
  width: 50%;
}

.section-title {
  color: #f9b43b;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  font-size:72px;
}

.form__controls-radio-elem {
  color:white;
}

.form__controls-radio-elem {
  border:none;
  text-decoration: none;

}

.form__controls-radio-elem {
  display:flex;
}