.order {
  background-image: url('../img/bg/order-bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.section__title--order {
  color: #f9b43b;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  padding-top: 91px;
}

.form__input-title {
 color: white;
 font-size:14px;
}

.form__controls-radio-elem {
 color: white;
 font-size:14px;
}

.form__elem {
	padding-left:77px;
	display:flex;
}