.order {
  background-image: url('../img/bg/order-bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.section__title--order {
  color: #f9b43b;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
}
