.reviews__list {
  height: 100%;
  display:flex;
  flex-wrap:wrap;
}


.reviews__item {
  width:25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter:grayscale(100%);
  position:relative;

  &:hover {
    .reviews__hover {
      opacity:1
    }
  }
}


.reviews__hover{
  position:absolute;
  top:rem(49px);
  left:rem(21px);
  right:rem(32px);
  bottom:rem(50px);
  background: rgba(#6c6d6f, .8);
  opacity:0;
  transition: opacity .3s;
  line-height: rem(27px);
}

.reviews__title {
font-family: 'Gagalin';
text-transform: uppercase;
color: white;
}

.reviews__text {
font-family: 'Ubuntu';
font-size: rem(14px);
color: white;
}


.person-link {
  min-width: 6.125rem;
  padding: rem(10px) rem(17px);
  border-radius: rem(5px);
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; 
}

.person__description {
position: absolute;
flex-basis: 25%;
}

