.team {
  background-image: url('../img/bg/team-bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.section__title--team {
  color: #f9b43b;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  padding-top: 91px;
}

.team__list_description_title {
  color: white;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  padding-top: 14px;
}

.team__list_description_title:hover {
  color:#f9b43b;
}

.dropdown_description {
  color: white;
}


.team__list_description_title:hover + .dropdown_description +.triangle {
opacity: 1;

}

.dropdown_description {
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: 1s;
  width: 550px;
  padding-left: 200px;
 }

 .dropdown_title {
  font-weight: bold;
  font-size: 14px;
  font-family: 'Ubuntu';

 }

 .dropdown_text {
  font-size:14px;
  font-family: 'Ubuntu';
 }


