.team {
  background: url('../img/bg/team-bg.png') no-repeat;
  background-size: cover;
  position: relative;
  padding-top: rem(90px);
}



.team__container {
 min-height: rem(650px);
padding-top: rem(20px);
padding-left: rem(10px);

margin-left: rem(50px);
margin-right: rem(50px);

@include tablets {
margin-left: rem(50px);
margin-right: rem(50px);  
flex-direction: column;
align-items: center;
text-align: center;
width: 100%;
padding: 0; 
}


@include phones {
margin-left: rem(20px);
margin-right: rem(20px);
}

@include phonesmall {
margin-left: rem(10px);
margin-right: rem(10px);
}

}


//.team__section {
//  background: rgba(#2f3234, .93);
 // padding: 5% 2% 0 7%;
//  align-items: center;
//  justify-content: center;
//}

 .team__content {
position:absolute;
top:0;
bottom:0;
right:0;
width:50%;
background: rgba(#343638, .93);
padding-left: rem(78px);
display: flex;
flex-direction: column;
padding-top: rem(70px);


@include tablets {
      
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }
}




.team-acco__content {
  opacity:0;
  visibility:hidden;
  height:0;
  width: 75%;
  font-size: rem(14px);
  font-family: 'Ubuntu-Light';
  transition: height .5s, visibility .7s, opacity .9s;
  display:flex;
 

  &--visible {
  font-size: rem(14px);
  font-family: 'Ubuntu-Light';
  transition: height .5s, visibility .7s, opacity .9s;
  opacity:1;
  visibility:visible;
  transition: 1s;
  height: auto;
  width: 75%;
  color: $yellow;
  // margin-left: rem(15px);
 // margin-bottom: rem(20px);
}

 @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
    display:flex;
   }


  @include phonesmall {
  padding-right: 0;
}

    @include phones {
  padding-right: 0;
}


}



 

.team-acco__triger {
  color: white;
  font-family: 'Gagalin';
  padding-top: rem(14px);
  text-decoration:none;
  display: flex;
  align-items: center;
  font-size: rem(14px);
  margin-bottom: 8px;
  cursor:pointer;

  &:hover {
  color: white; }
  

&--visible {
    display: flex;
    align-items: center;
    font-size: rem(14px);
    margin-bottom: 8px;
    color: $yellow; 
    font-family: 'Gagalin';
    padding-top: rem(14px);
    cursor:pointer;
    &:before {
    content: "";
    height:0;
    width:0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin: rem(9px);
    transform: rotate(-180deg);

  }}

  &:before {
    content: "";
    height:0;
    width:0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin: rem(9px);
  }

  @include tablets {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: white; 
    font-family: 'Gagalin';
    padding-top: rem(14px);
  
    &:before {
    content: "";
    height:0;
    width:0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin: rem(9px);
    
  }

    &--visible {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: $yellow; 
    font-family: 'Gagalin';
    padding-top: rem(14px);
      cursor:pointer;
    &:before {
    content: "";
    height:0;
    width:0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin: rem(9px);
    transform: rotate(-180deg);

  }}

   }
   
         
   }

   @include phonesmall {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: white; 
    font-family: 'Gagalin';
    padding-top: rem(14px);
  
    &:before {
    content: "";
    height:0;
    width:0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin: rem(9px);
    
  }

    &--visible {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: $yellow; 
    font-family: 'Gagalin';
    padding-top: rem(14px);
      cursor:pointer;
    &:before {
    content: "";
    height:0;
    width:0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin: rem(9px);
    transform: rotate(-180deg);

  }}

   }

   @include phones {
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: white; 
    font-family: 'Gagalin';
    padding-top: rem(14px);
  
    &:before {
    content: "";
    height:0;
    width:0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin: rem(9px);
    
  }

    &--visible {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: $yellow; 
    font-family: 'Gagalin';
    padding-top: rem(14px);
      cursor:pointer;
    &:before {
    content: "";
    height:0;
    width:0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    margin: rem(9px);
    transform: rotate(-180deg);

  }}

   
   
}


.team-acco__text {
  width: 70%;
  padding-left: 1.5rem;
  line-height: rem(21px);
  @include tablets {
  padding-right: rem(30px);
  width: 76%;
   }
 @include phonesmall {
     width: 76%;
 }
 @include phones {
     width: 76%;
 }
}




.section__title--team {
  color: $yellow;
  padding: 0;
  margin-bottom: rem(50px);
  font-family: 'Gagalin';
  padding-top: rem(10px);

 @include phonesmall {
  margin-bottom: 1rem;
  padding-top: 4.625rem;
 }
  
  
}

 


.team-acco__text-content {
  color:white;
}

.team-acco__text-title {
  color: white;
  font-family: 'Ubuntu-Medium';
}



