.team {
  background: url('../img/bg/team-bg.png') no-repeat;
  background-size: cover;
  position: relative;
}

.team__container {
position:absolute;
top:0;
bottom:0;
right:0;
width:50%;
background: rgba(#343638, .93);
padding-left: 70px;
display: flex;
flex-direction: column;
justify-content: center;
}


.section__title--team {
  color: #f9b43b;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  
}

.team-acco__triger {
  color: white;
  font-family: 'Gagalin';
  padding-top: 14px;
  text-decoration:none;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    height:0;
    width:0;
    border: 9px solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0px;
  }

}

.team-acco__content {
  display: none;
}

.team-acco__item_active {
  .team-acco__triger {
    color:#e25028;
  
    &before: {
      transform: rotate(-180deg);
    }
  }
  .team-acco__content {
    display:block;
  }
}

.team-acco__text-content {
  color:white;
}

.team-acco__text-title {
  color: white;
}




