.team-acco {
	    padding-right: rem(10px);
}

.team-acco__item {
  margin-bottom: rem(40px);
  
	&:last-child {
		margin-bottom: 0;
	}

	&.active {
		.team-acco__trigger {
			color: #f9b43b;

			&:before {
				transform: rotate(-180deg);
			}
		}
	}
}


.team-acco__trigger {
	color: #fff;
	font-size: rem(14px);
	font-family: 'Gagalin';
	 
	text-decoration: none;
	position: relative;
  display: inline-flex;
  margin-bottom: rem(20px);
  align-items: center;  
  
 }


 
 

.team-acco__content {
	padding-top: rem(14px);
  display: none;
}

.team-acco__pic {
	text-align: center;
	width: 30%;
}

.team-acco__img {
	width: rem(100px);
	height: rem(100px);
	 
	border-radius: 50%;
}

.team-acco__text {
	width: 70%;
}

.team-acco__pic, .team-acco__text {
}

.team-acco__title {
	font-family: 'Ubuntu';
	font-size: rem(14px);
	color: #fff;
	margin-bottom: rem(14px);
}

.team-acco__text-content {
	font-family: 'Ubuntu';
	color: white;
	font-size: rem(14px);
}