.best {
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: rem(60px);
  font-family: 'Gagalin';
  padding-top: rem(49px); }

.best__pictures_title {
  font-family: 'Lifehack';
  font-size: rem(24px);
  color: #2f3234; }

.best__pictures_text {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  color: #2f3234;
  line-height: 1.5; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: rem(20px); }

.best__icon-pic_natural {
  fill: #8ac03e;
  width: rem(97px); }

.best__icon-pic_hand {
  fill: #f8b43a;
  width: rem(80px); }

.best__icon-pic_meat {
  fill: #e25028;
  width: rem(97px); }

.best__item {
  margin-right: rem(20px);
  padding-bottom: rem(100px); }
  .best__item:last-child {
    margin-right: 0; }
