.team-acco {
  padding-right: rem(10px); }

.team-acco__item {
  margin-bottom: rem(40px); }
  .team-acco__item:last-child {
    margin-bottom: 0; }
  .team-acco__item.active .team-acco__trigger {
    color: #f9b43b; }
    .team-acco__item.active .team-acco__trigger:before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }

.team-acco__trigger {
  color: #fff;
  font-size: rem(14px);
  font-family: 'Gagalin';
  text-decoration: none;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: rem(20px);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.team-acco__content {
  padding-top: rem(14px);
  display: none; }

.team-acco__pic {
  text-align: center;
  width: 30%; }

.team-acco__img {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%; }

.team-acco__title {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  color: #fff;
  margin-bottom: rem(14px); }

.team-acco__text-content {
  font-family: 'Ubuntu';
  color: white;
  font-size: rem(14px); }
