html {
	font-size:rem(16px);
  @include tablets {
    font-size: rem(15px);
  }

  @include phones {
    font-size: rem(13px);
  }
}

 html,
body {
  height: 100%;
}


.container {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
}



// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}




